<div class='outer-container'>
  <%= simple_form_for @task do |f| %>
    <p id='form_header'>Add New Task</p>
    <%= f.input :name, placeholder: "Name" %>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Describe your task..." %>
    <% if @contacts %>
      <%= f.input(:contact_id, collection: @contacts, label_method: :full_name, value_method: :id, selected: @task.contact.try(:id)) %>
    <% else %>
      <%= f.input :contact_id, as: :hidden %>
    <% end %>
    <%= f.button :submit %>
  <% end %>
</div>


