
<div class='outer-container'>
  <%= simple_form_for (@task) do |f| %>
  <p id='form_header'>Edit Task</p>
    <%= f.input :name, placeholder: "Name" %>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Describe your task..." %>
    <%= f.input :due, placeholder: "Due" %>
    <%= f.button :submit %>
    <div class='task_buttons'>
      <%= link_to 'Cancel', :back %>
    </div>
  <% end %>
</div>
