<%= simple_form_for (@task) do |f| %>
  <%= f.input :name, placeholder: "Name", label: false %>
  <%= f.text_area :description, placeholder: "Describe your task..." %>
  <%= f.button :submit %>
  <div class='task_buttons'>
    <%= link_to 'Cancel', :back %>
  </div>
<% end %>
