<div id='tasks-header' class='page-header'>
  <h1>Planning Board</h1>
  <%= render partial: 'shared/modal', locals: { resource: '+ Task', resource_path: 'shared/task_form' } %>
  <%= render partial: 'shared/empty_modal', locals: { resource: 'edit-task' } %>
</div>

<div id='planning-board'>
  <div class='task-state-well'>
    <h1>Inbox</h1>
    <ul id='inbox'>
      <%= render partial: 'task', collection: @user.inbox_tasks, as: :task %>
    </ul>
  </div>
  <div class='task-state-well'>
    <h1>Working</h1>
    <ul id='working'>
      <%= render partial: 'task', collection: @user.working_tasks, as: :task %>
    </ul>
  </div>
  <div class='task-state-well'>
    <h1>Completed</h1>
    <ul id="completed">
      <%= render partial: 'task', collection: @user.completed_tasks, as: :task %>
    </ul>
  </div>
</div>


