<div class='outer-container'>
  <%= simple_form_for([@contact, @obj = @contact.appointments.build]) do |f| %>
    <% if @obj.id == nil %>
      <p id='form_header'>Add New Appointment</p>
    <% else %>
      <p id='form_header'>Edit Appointment</p>
    <% end %>
    <%= f.input :name, placeholder: "Appointment Name" %>
    <%= f.input :starts_at, placeholder: "Starts At" %>
    <%= f.submit %>
    <div class='form_buttons'>
    <% if @obj.id == nil %>
      <%= link_to 'Cancel', :back %>
    <% else %>
      <%= link_to 'Delete', appointment_path(@appointment), method: :delete, data: { confirm: "Are you sure?" } %>
      <%= link_to 'Cancel', appointment_path(@appointment) %>
    <% end %>
    </div>
  <% end %>
</div>
