<% $LOAD_PATH << "controllers" %>


<div class='calendar_wrapper'>

  <%= month_calendar events: @appointments do |date, appointments| %>
    <%= date.day %>

    <% appointments.each do |appointment| %>
      <div>
        <div class="modal">
          <label for="modal-<%=appointment.name%>">
            <div class="modal-trigger"><%= appointment.name %></div>
          </label>
          <input class="modal-state" id="modal-<%=appointment.name%>" type="checkbox" />
          <div class="modal-window">
            <div class="modal-inner">
              <label class="modal-close" for="modal-<%=appointment.name%>"></label>
              <h1><%= link_to appointment.name, appointment_path(appointment) %></h1>
              <br>
              <h1>Starts On: <%= appointment.starts_at.to_date %>
              <br>
              <h1>Address: <%= appointment.street1 %>
              <br>
              <% if appointment.description.nil? %>
                <h1>This appointment does not have a description</h1>
              <% else %>
                <h1>Description: <%= appointment.description %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>



