<% $LOAD_PATH << "controllers" %>


<div class='calendar_wrapper'>

  <%= month_calendar events: @appointments do |date, appointments| %>
    <%= date.day %>

    <% appointments.each do |appointment| %>
      <div>
        <div class="modal">
          <label for="modal-<%=appointment.name%>">
            <div class="modal-trigger"><%= appointment.name %></div>
          </label>
          <input class="modal-state" id="modal-<%=appointment.name%>" type="checkbox" />
          <div class="modal-window">
            <div class="modal-inner">
              <label class="modal-close" for="modal-<%=appointment.name%>"></label>
              <h1 class='appointment-header'><%= link_to appointment.name, appointment_path(appointment) %> </h1>
              <br>
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% if params[:action].include?("show") %>

                  <% if appointment.appointable_type == 'Contact' %>
                    <tr>
                      <td><h1>Related to:</td><td> <%= gravatar_for @contact %> <br><%= link_to "#{ @contact.first_name } #{ @contact.last_name }", contact_path(@contact) %></td></h1>
                    </tr>
                      <% elsif appointment.appointable_type == 'Project' && params[:action].include?("show")%>
                    <tr>
                      <td><h1>Related to:</td><td> <%= gravatar_for @contact %> <br> <%= link_to "#{ @contact.first_name } #{ @contact.last_name }", contact_path(@contact) %> <h1></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td><h1>Starts On:</td><td> <%= appointment.starts_at.to_date %></td>
                  </tr>
                  </tr>
                  <tr>
                    <td><h1>Address:</td><td> <%= appointment.street1 %></td>
                  </tr>
                  <% if appointment.description.nil? %>
                    <tr>
                      <td>
                        <h1>Description</h1>
                      </td>
                      <td>
                        <p>This appointment does not have a description</p>
                      </td>
                    </tr>
                  <% else %>
                    <tr>
                      <td>
                        <p>Description: <%= appointment.description %></p>
                      </td>
                    </tr>
                  <% end %>

                <% elsif params[:action].include?('index') && params[:controller] == 'contacts' %>
                  <% @contacts.each do |contact| %>
                    <% if contact.id == appointment.appointable_id %>
                    <tr>
                      <td><h1>Related to:</td><td> <%= link_to "#{ contact.first_name } #{ contact.last_name }", contact_path(contact) %></td></h1>
                    </tr>
                  <% end %>
                  <% end %>
                  <tr>
                    <td><h1>Starts On:</td><td> <%= appointment.starts_at.to_date %></td>
                  </tr>
                  </tr>
                  <tr>
                    <td><h1>Address:</td><td> <%= appointment.street1 %></td>
                  </tr>
                  <% if appointment.description.nil? %>
                    <tr>
                      <td>
                        <h1>Description</h1>
                      </td>
                      <td>
                        <p>This appointment does not have a description</p>
                      </td>
                    </tr>
                  <% else %>
                    <tr>
                      <td>
                        <p>Description: <%= appointment.description %></p>
                      </td>
                    </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>



