<% $LOAD_PATH << "controllers" %>

<%= calendar number_of_days:3, events: @appointments do |date, appointments| %>
  <%= date %>

  <% appointments.each do |appointment| %>
    <div>
      <%= link_to "#{appointment.name}", appointment_path(appointment) %>
    </div>
  <% end %>
<% end %>



<%= week_calendar number_of_weeks:1, events: @appointments do |date, appointments| %>
  <%= date %>

  <% appointments.each do |appointment| %>
    <div>
      <%= link_to "#{appointment.name}", appointment_path(appointment) %>
    </div>
  <% end %>
<% end %>



<%= month_calendar events: @appointments do |date, appointments| %>
  <%= date %>

  <% appointments.each do |appointment| %>
    <div>
      <%= link_to "#{appointment.name}", appointment_path(appointment) %>
    </div>
  <% end %>
<% end %>


