<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to root_path, class: 'logo' do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to "Contacts", root_path %></li>
        <li class="nav-link"><%= link_to 'Projects', projects_path(current_user) %></li>
        <li class="nav-link"><%= link_to 'Planning Board', tasks_path %></li>
         <li id="js-navigation-more" class="nav-link more"><a href="javascript:void(0)">Admin</a>
          <ul class="submenu">
            <li><%= link_to 'Tags', tags_path %></li>
            <li class="more"><a href="javascript:void(0)">Stats</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Task Activity</a></li>
                <li><a href="javascript:void(0)">Contact Activity</a></li>
              </ul>
            </li>
            <li class="more"><a href="javascript:void(0)">Reviews</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Something here?</a></li>
              </ul>
            </li>
          </ul>
        </li>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
      </div>
      <a href="<%=destroy_user_session_path%>" class="sign-up">Sign Out</a>
    </div>
  </div>
</header>
