<div>
  <% if task.completed %>
    <div class='complete'>
      <%= link_to complete_task_path(@contact, task.id), method: :patch do %>
        <i style='opacity: 0.4;' class='fa fa-check'></i>
      <% end %>
    </div>
    <div class='task'>
      <p style='opacity: 0.4'><strike><%= task.description %></strike></p>
    </div>
    <div class='trash'>
      <%= link_to task_path(@contact, task.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class='fa fa-trash'></i>
      <% end %>
    </div>
  <% else %>
    <div class='complete'>
      <%= link_to 'Mark as Completed', task_path(task.id), method: :patch do %>
        <i class='fa fa-check'></i>
      <% end %>
    </div>
    <div class='task'>
      <p><%= task.name %></p>
      <p><%= task.description %></p>
    </div>
    <div class='trash'>
      <%= link_to task_path(@contact, task.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class='fa fa-trash'></i>
      <% end %>
    </div>
  <% end %>
</div>
