
<div class='outer-container'>
  <%= simple_form_for(@contact) do |f| %>
    <% if @contact.id == nil %>
      <div id='form_header'>Add New Contact</div>
    <% else %>
      <div id='form_header'>Edit Contact</div>
    <% end %>
    <div class='form_buttons'>
      <% if @contact.id == nil %>
        <%= link_to 'Cancel', root_path %>
      <% else %>
        <%= link_to 'Delete', contact_path(@contact), method: :delete, data: { confirm: "Are you sure?" } %>
        |
        <%= link_to 'Cancel', contact_path(@contact), data: { turbolinks: false } %>
      <% end %>
    </div>
    <%= f.input :first_name, placeholder: "First Name" %>
    <%= f.input :last_name, placeholder: "Last Name" %>
    <%= f.label :lead_team %>
    <%= f.check_box :lead_team %>
    <%= f.input :title, placeholder: "Title" %>
    <%= f.input :email, placeholder: "Email", required: true %>
    <%= f.input :background, label: 'Background', placeholder: "Background information about the contact" %>
    <%# <%= f.input :first_met, placeholder: "Date first met" %1> %>
    <%= f.button :submit %>
  <% end %>
</div>
