<table>
  <tr><td><h3>Address:</td><td> <%= @contact.street1 %></h3></td></tr>
  <tr><td><h3>Email:</td><td> <%= @contact.email %></h3></td></tr>
  <tr><td><h3>Company:</td><td> <%= @contact.company_name %></h3></td></tr>
  <tr><td><h3>Phone:</td><td> <%= @contact.phone %></h3></td></tr>
  <tr><td><h3>Background:</h3></td><td> <p><%= @contact.background %></p><br></td></tr>
</table>


