<div class='left-sidebar'>
  <h1><u>Current Tasks</u></h1>

  <div class="expander">
    <a href="javascript:void(0)" class="expander-trigger expander-hidden">
      <i class="fa fa-thumb-tack" aria-hidden="true"></i>
      New Task
    </a>
    <div class="expander-content">
      <%= render 'tasks/task_form' %>
    </div>
  </div>

  <div class='bottom-left-pane'>
    <% if @working_tasks.any? %>
      <% @working_tasks.each do |task| %>
        <div class="expander">
            <div class="expander-trigger expander-hidden">
              <%= render(partial: 'tags/tag_indicator', locals: { contact: task.contact }) if task.contact  %>
              <%= task.name %>
            </div>
          <div class="expander-content">
            <p><%= task.description %><p>
          </div>
        </div>
      <% end %>
    <% else %>
      <i>No current tasks</i>
    <% end %>
  </div>
  <h1><u>To Do</u></h1>
  <div class='bottom-left-pane'>
    <% if @inbox_tasks.any? %>
      <% @inbox_tasks.each do |task| %>
        <div class="expander">
          <div class="expander-trigger expander-hidden">
            <%= render(partial: 'tags/tag_indicator', locals: { contact: task.contact }) if task.contact  %>
            <%= task.name %>
          </div>
          <div class="expander-content">
            <p><%= task.description %><p>
          </div>
        </div>
      <% end %>
    <% else %>
      <i>No pending tasks</i>
    <% end %>
  </div>

</div>
