<%= provide(:title, 'Contacts') %>

<div class='page-header'>
  <h1>Contacts (<%= @contacts.count %>)</h1>
  <% if params[:lead_team] %>
    <%= link_to 'View All', root_path, data: { turbolinks: false } %>
  <% else %>
    <%= link_to 'View Lead Team', root_path(lead_team: true), data: { turbolinks: false } %>
  <% end %>
  <%= render partial: 'shared/modal', locals: { resource: '+ Contact', resource_path: 'contacts/contact_form' } %>
</div>

<div class='container'>
  <%= render 'left_sidebar' %>
  
  <table class="tables dataTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Notes</th>
        <th>Tasks</th>
        <th>Submitted Weekly <br> Status Update</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td class='index-gravatar'>
            <%= gravatar_for contact %>
            <br>
            <%= link_to "#{contact.first_name} #{contact.last_name}", contact_path(contact), data: { turbolinks: false }  %>
          </td>
          <td>
            <%= contact.notes.count %>
          </td>
          <td>
            <%= contact.tasks.count %>
          </td>
          <td>
            <%= contact.lead_team? ? contact.has_submitted_weekly_status_update? : 'N/A' %>
          </td>
          <td class='index-actions'>
          <p><%= link_to 'Edit', edit_contact_path(contact), data: { turbolinks: false }  %></p>
          <p><%= link_to 'Delete', contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'right_sidebar' %>

</div>
