
<% provide(:title, 'Contacts') %>
<h1>Contacts</h1>

<%= month_calendar events: @appointments do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>


<p>The number of contacts is: <%= @contacts.count %></p>
<p>The user id is: <%=  @user.id %></p>
<% @contacts.each do |contact| %>
  <p><%= contact.first_name %> <%= contact.last_name %><%= link_to 'Edit', edit_contact_path(contact) %><%= link_to 'Show', contact_path(contact) %></p>
<% end %>


<%= link_to 'New Contact', new_contact_path  %>
