<%= provide(:title, 'Contacts') %>

<div class='page-header'>
  <h1>Contacts (<%= @contacts.count %>)</h1>
  <% if params[:lead_team] %>
    <%= link_to 'View All', root_path, data: { turbolinks: false } %>
  <% else %>
    <%= link_to 'View Lead Team', root_path(lead_team: true), data: { turbolinks: false } %>
  <% end %>
  <%= render partial: 'shared/modal', locals: { resource: '+ Contact', resource_path: 'contacts/contact_form' } %>
</div>

<div class='container'>
  <%= render 'left_sidebar' %>

  <table class="tables dataTable stripe hover order-column compact">
    <thead>
      <tr>
        <th>Name</th>
        <th>Notes</th>
        <th>Retros</th>
        <th>Tasks</th>
        <th>Submitted Update</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td class='index-gravatar'>
            <%= gravatar_for contact %>
            <br>
            <%= link_to "#{contact.first_name} #{contact.last_name}", contact_path(contact), data: { turbolinks: false }  %>
          </td>
          <td>
            <%= contact.notes.count %>
          </td>
          <td>
            <%= contact.retrospectives.count %>
          </td>
          <td>
            <%= contact.tasks.count %>
          </td>
          <td>
            <%= contact.lead_team? ? contact.has_submitted_weekly_status_update? : 'N/A' %>
          </td>
          <td class='index-actions'>
            <p>
              <%= link_to edit_contact_path(contact), data: { turbolinks: false } do  %>
                <i class="fa fa-pencil" aria-hidden="true"> Edit</i>
              <% end %>
            </p>
            <p>
              <%= link_to contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash" aria-hidden="true"> Delete</i>
              <% end %>
            </p>
            <% if contact.lead_team? && contact.auth_token %>
              <p>
                <%= link_to new_retrospective_path(auth_token: contact.auth_token), data: { turbolinks: false } do %>
                  <i class="fa fa-address-card-o" aria-hidden="true"> Retros</i>
                <% end %>
              <p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'right_sidebar' %>

</div>
