<%= provide(:title, 'Contacts') %>

<div class='page-header'>
  <h1>Contacts (<%= @contacts.count %>)</h1>
  <%= render partial: 'shared/modal', locals: { resource: '+ Contact', resource_path: 'contacts/contact_form' } %>
</div>

<table class="tables dataTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th>Tasks</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td class='index-gravatar'>
          <%= gravatar_for contact %>
          <br>
          <%= link_to "#{contact.first_name} #{contact.last_name}", contact_path(contact), data: { turbolinks: false }  %>
        </td>
        <td>
          <%= pluralize(contact.notes.count, 'note') %>
        </td>
        <td>
          <%= pluralize(contact.tasks.count, 'task') %>
        </td>
        <td class='index-actions'>
        <p><%= link_to 'Edit', edit_contact_path(contact), data: { turbolinks: false }  %></p>
        <p><%= link_to 'Delete', contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>
