<div class='page-header'>
<h1>Contacts (<%= @contacts.count %>)</h1>
</div>

<% provide(:title, 'Contacts') %>

<div class="main-wrapper">
  <div class="main-content">
    <%# <h1 id="title_header">Contacts <%= link_to 'New Contact', new_contact_path  %1></h1> %>
    <% if @contacts.empty? %>
      <p> You have no contacts yet. </p>
    <% else %>
      <table class="tables">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
       <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.first_name %></td>
            <td><%= contact.last_name %></td>
            <td><%= link_to 'Edit', edit_contact_path(contact) %> | <%= link_to 'Show', contact_path(contact) %> | <%= link_to 'Delete', contact_path(contact), method: :delete, data: { confirm: "Are you sure?" } %></td>
          </tr>
          <tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class='secondary-content'>
    <%= render 'shared/calendars' %>
  </div>
</div>


