<div class="main-wrapper">
  <div class="main-content">
    <div class='header-wrapper'>
      <%= gravatar_for @contact %>
      <div class='name-actions'>
        <%= render partial: 'shared/modal', locals: { resource: @contact.full_name, resource_path: 'contacts/info' } %>
        <%= link_to 'Edit', edit_contact_path(@contact) %> | <%= link_to 'Delete', contact_path(@contact), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
      <div class='modals-search'>
        <%= render partial: 'shared/modal', locals: { resource: '+ Note', resource_path: 'shared/note_form' } %>
      </div>
    </div>


    <% if @notes.empty? %>
      <p> No notes found. </p>
    <% else %>


        <table class='dataTable'>
          <thead>
            <tr>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @notes.each do |note| %>
              <tr>
                <td>
                  <div class='note-header'>
                    <div class='note-info'>
                      <%= note.created_at.to_date %>
                      <%= note.subject %>
                    </div>
                    <div class='note-actions'>
                      <%= link_to 'Edit', edit_note_path(note) %>
                      | <%= link_to 'Delete', note_path(note), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                  </div>
                  <br />
                  <%= note.content %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <% end %>
  </div>
</div>
