<div class="main-wrapper">
  <div class="main-content">
    <div class='header-wrapper'>
      <%= gravatar_for @contact %>
      <div class='name-actions'>
        <%= render partial: 'shared/modal', locals: { resource: @contact.full_name, resource_path: 'contacts/info' } %>
        <%= link_to 'Edit', edit_contact_path(@contact) %> | <%= link_to 'Delete', contact_path(@contact), method: :delete, data: { confirm: "Are you sure?" } %>
        <%= link_to '| Retros', new_retrospective_path(auth_token: @contact.auth_token) if @contact.lead_team? && @contact.auth_token %>
      </div>
      <div class='modals-search'>
        <%= render partial: 'shared/modal', locals: { resource: '+ Note', resource_path: 'shared/note_form' } %>
      </div>
    </div>

    <div class='container'>
      <table class='dataTable'>
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @notes.each do |note| %>
            <tr>
              <td>
                <div class='note-header'>
                  <div class='note-info'>
                    <div class='note-date'><%= note.created_at.to_date %></div>
                    <div class='note-title'><%= note.subject %></div>
                  </div>
                  <div class='note-actions'>
                    <%= link_to 'Edit', edit_note_path(note) %>
                    <div class='divider'>|</div>
                    <%= link_to 'Delete', note_path(note), method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                </div>
                <br />
                <%= note.content %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render 'retrospectives/sidebar' %>

    </div>
  </div>
</div>
