
<div class="main-wrapper">
  <div class="main-content">
    <h1 id="title_header">
      <%= gravatar_for @contact %>
      <%= "#{@contact.title} #{@contact.full_name}" %>
      <br />
      <h3><%= link_to 'Edit', edit_contact_path(@contact) %> | <%= link_to 'Delete', contact_path(@contact), method: :delete, data: { confirm: "Are you sure?" } %></h3></h1>
      <%= render partial: 'shared/modal', locals: { resource: 'Task', resource_path: 'shared/task_form' } %>
      <%= render partial: 'shared/modal', locals: { resource: 'Note', resource_path: 'shared/note_form' } %>
      <%= render partial: 'shared/modal', locals: { resource: 'Info', resource_path: 'contacts/info' } %>

    <div class='search-bar'>
      <%= form_tag contact_path(@contact), :method => :get do %>
        <div class='search-field'><%= text_field_tag :search, params[:search] %></div>
        <div class='search-button'><%= submit_tag 'Search', :name => nil %></div>
      <% end %>
    </div>


    <% if @notes.empty? %>
      <p> No notes found. </p>
    <% else %>
      <% @notes.each do |note| %>
        <div class='note_container'>
          <span class='note_subject'><strong><%= note.subject %></strong>
            <br />
            <%= note.created_at.to_date %>
            <br/>
            <%= link_to 'Edit', edit_note_path(note) %>
            <%= link_to 'Delete', note_path(note), method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
          <p class='note_content'><%= note.content %></p>
        </div>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>
