<h2><%= "#{@contact.first_name} #{@contact.last_name}" %></h2>
<p>Contact ID: <%= @contact.id %></p>
<%= @contact.email %>
<%= @contact.title %>
<%= @contact.company_name %>
<%= @contact.alt_email %>
<%= @contact.phone %>

<%= month_calendar events: @appointments do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>

<% @notes.each do |note| %>
  <h3><%= note.subject %></h3>
  <p><%= note.content %></p>
  <%= link_to 'Edit', edit_note_path(note) %>
  <%= link_to 'Delete', note_path(note), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% @tasks.each do |task| %>
  <%# <%= render 'shared/task_item' %1> %>
  <% if task.completed_at %>
    <strike style='opacity: 0.4;'><p> <%= task.name %></strike> <%= link_to 'Delete Task', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% else %>
    <p><%= task.name %><%= task.description %> <%= link_to 'Mark as Complete', complete_contact_task_path(@contact, task), method: :patch, data: { confirm: 'Are you sure?' } %> <%= link_to 'Edit Task', edit_task_path(task) %> <%= link_to 'Delete Task', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
<% end %>

<% @projects.each do |project| %>
  <%# <%= render 'shared/task_item' %1> %>
  <% if project.completed_at %>
    <strike style='opacity: 0.4;'><p> <%= project.name %></strike> <%= link_to 'Delete Project', project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% else %>
    <p><%= project.name %><%= project.description %> <%= link_to 'Mark as Complete', complete_contact_project_path(@contact, project), method: :patch, data: { confirm: 'Are you sure?' } %> <%= link_to 'Manage Project', project_path(project) %> <%= link_to 'Delete Project', project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
<% end %>

<% @appointments.each do |appointment| %>
  <p><%= appointment.name %> <%= link_to "Calendar", contact_appointments_path(@contact) %></p>
<% end %>

<%= render 'shared/note_form' %>

<%= render 'shared/task_form' %>

<%= render 'shared/project_form' %>

<%= render 'shared/appointment_form' %>

<%= link_to 'Home', root_path %>

