<div class='project-wrapper'>

<div class='project-left-column'>

  <h1 id='title_header'><%= link_to "#{@contact.first_name} #{@contact.last_name}", contact_path(@contact) %> / <%= @project.name %>  / <%= link_to 'Edit project', edit_project_path(@project) %></h1>
  <h3><%= @project.description %></h3>


  <ul class="accordion-tabs">
    <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link">Add a Note</a>
      <div class="tab-content">

        <%= simple_form_for ([@contact, @project, @note]) do |f| %>
          <%# <%= render 'shared/error_messages', object: f.object %1> %>
          <%= f.input :subject, placeholder: "Subject" %>
          <%= f.label :content %>
          <%= f.text_area :content, placeholder: "Note content..." %>
          <%= f.button :submit %>
        <% end %>

        <br />
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link">Send An Email</a>
      <div class="tab-content">
        <br>
        <p><strong>To: </strong><%= @contact.email %></p>
        <%= render 'email/email_project_contact' %>
      </div>
    </li>
  </ul>

  <div class='search-bar'>
    <%= form_tag project_path(@project), :method => :get do %>
      <div class='search-field'><%= text_field_tag :search, params[:search] %></div>
      <div class='search-button'><%= submit_tag 'Search', :name => nil %></div>
    <% end %>
  </div>

  <% if @notes.empty? %>
    <p> No notes found. </p>
  <% else %>


    <% @notes.each do |note| %>
      <div class='note_container'>
        <span class='note_subject'><strong><%= note.subject %></strong> created on <strong> <%= note.created_at.to_date %></strong>
          <br/>
          <%= link_to 'Edit', edit_note_path(note) %>
          <%= link_to 'Delete', note_path(note), method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
        <p class='note_content'><%= note.content %></p>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>
