<h1><%= @project.name %></h1>
<p><%= @project.description %></p>
<%= link_to 'Edit project', edit_project_path(@project) %>

<%= render 'shared/stage_form' %>

<% @stages.each do |stage| %>
  <h3><%= stage.name %></h3>
  <%= link_to 'Edit stage', edit_stage_path(stage) %>
  <%= link_to 'Delete stage', stage_path(stage), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br/>

<%= link_to 'Back', contact_path(@project.contact_id) %>
