<% provide(:title, 'Sign in') %>

<h1 id='logo_header'>Brinsk CMS</h1>


<div class='outer-container'>
  <p id='sign_in_header'>Log in to your account</p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div id='button_and_check_box_wrapper'>
      <% if devise_mapping.rememberable? -%>
        <div class="field" id='remember_me'>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Sign in" %>
      </div>
    </div>
      <%= render "devise/shared/links" %>
  <% end %>


</div>
