
<div class='container'>
  <div class='main-content'>
    <h1><u><%= @contact.full_name.titleize %> New Status Update</u></h1>
    <%= form_for @retrospective, method: :post, url: retrospectives_path(auth_token: @contact.auth_token) do |f| %>
      <%= f.label :what_has_gone_well %>
      <%= f.text_area :what_has_gone_well, required: true %>

      <%= f.label :what_has_gone_poorly %>
      <%= f.text_area :what_has_gone_poorly, required: true %>

      <%= f.label :how_are_your_goals %>
      <%= f.text_area :how_are_your_goals, required: true %>

      <%= f.submit 'Submit Status Update' %>

    <% end %>
  </div>

  <%= render 'sidebar' %>
</div>
