<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'refills/navigation' if user_signed_in? %>
  <div class='content-wrapper'>
    <div class='notice-wrapper'>
      <strong><p class="notice"><%= notice %></p></strong>
      <strong><p class="alert"><%= alert %></p></strong>
    </div>

    <%= yield %>

  </div>

    <div class='main-footer'>
      <div class='footer-wrapper'>
        <%= render 'refills/footer' if user_signed_in? %>
      </div>
    </div>

<%# <script src="https://maps.googleapis.com/maps/api/js"></script> %>
<%# <script> %>
<%#   var bittersMap = (function () { %>
<%#     var myLatlng = new google.maps.LatLng(36.1776, -86.7833), %>
<%#         mapCenter = new google.maps.LatLng(36.1776, -86.7833), %>
<%#         mapCanvas = document.getElementById('map_canvas'), %>
<%#         mapOptions = { %>
<%#           center: mapCenter, %>
<%#           zoom: 10, %>
<%#           scrollwheel: true, %>
<%#           draggable: true, %>
<%#           disableDefaultUI: false, %>
<%#           mapTypeId: google.maps.MapTypeId.ROADMAP %>
<%#         }, %>
<%#         map = new google.maps.Map(mapCanvas, mapOptions), %>
<%#         contentString = %>
<%#           '<div id="content">'+ %>
<%#           '<div id="siteNotice">'+ %>
<%#           '</div>'+ %>
<%#           '<h1 id="firstHeading" class="firstHeading">thoughtbot</h1>'+ %>
<%#           '<div id="bodyContent"'+ %>
<%#           '<p>Sveavägen 98</p>'+ %>
<%#           '</div>'+ %>
<%#           '</div>', %>
<%#         infowindow = new google.maps.InfoWindow({ %>
<%#           content: contentString, %>
<%#           maxWidth: 300 %>
<%#         }), %>
<%#         marker = new google.maps.Marker({ %>
<%#           position: myLatlng, %>
<%#           map: map, %>
<%#           title: 'Default Location' %>
<%#         }); %>

<%#     return { %>
<%#       init: function () { %>
<%#         map.set('styles', [{ %>
<%#           featureType: 'landscape', %>
<%#           elementType: 'geometry', %>
<%#           stylers: [ %>
<%#             { hue: '#ffff00' }, %>
<%#             { saturation: 30 }, %>
<%#             { lightness: 10} %>
<%#           ]} %>
<%#         ]); %>

<%#         google.maps.event.addListener(marker, 'click', function () { %>
<%#           infowindow.open(map,marker); %>
<%#         }); %>
<%#       } %>
<%#     }; %>
<%#   }()); %>

<%#   bittersMap.init(); %>
<%# </script> %>

</body>
</html>
